.dropdown-item {
  background-color: red;
  display: none;
}

.dropdown-item.shown {
  background-color: green;
  flex-grow: 0;
}

li:has(.dropdown-item) {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}
